h1 {
  color: #863d6b; 
  font-size: 2rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px rgba(215, 155, 155, 0.764);
}
h2 {
  color: #965c81; 
  font-size: 28px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
  font-weight: bold;
}
h3{
    color: rgb(69, 122, 122);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}
p{
    color: rgb(69, 122, 122);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left; 
  font-size: 1rem;
  
}
section{
    color: rgb(69, 122, 122);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left; 
}
nav {
  background-color: rgb(130, 176, 176);
  padding: 10px;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav li {
  display: inline;
  margin-right: 20px;

}
nav a:hover {
  color: rgb(255, 255, 255);
}
nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:large ;
}
ul{
    list-style-position: inside;
    color: rgb(69, 122, 122);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    font-size: large; 
    margin-right: 100px;
}
ol{
    list-style-type: square;
    color: rgb(69, 122, 122);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    font-size: large;
    margin-right: 50px;
 
}
dl{
    color: rgb(69, 122, 122);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    font-size: large; 
}
dt{
    color: rgb(41, 54, 54);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    font-size: large; 
    padding: 10px;
}
blockquote{
  font-size:large ;
}
time {
    font-size:large ;
    font-style: italic;
    color: rgb(69, 122, 122);
} 
a{
    font-size: 20px;
    color: rgb(69, 122, 122);
}
label{
 font-size:large ;
 color: rgb(69, 122, 122);
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
input{
    background-color:#fffafd;
    font-size:large ;
    font-weight: bold; 
    color: rgb(69, 122, 122);
}

textarea{
background-color:#fffafd;
 
}
h5{
  font-size :25px; ;
  color: #965c81; 

}

body {
  background-image: url("B6.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: right center;
  background-attachment: fixed;

}
.highlight {
  color: #965c81; 
  font-weight: bold;
}
#Top {
  margin-top: 20px;
}
article {
  margin: 20px;
  padding: 15px;
  border: 1px solid #ccc;
}
